<!DOCTYPE html>
<html ng-app ="app">
    <head>
        <title>Route Test</title>
        <link href="Content/bootstrap.min.css" rel="stylesheet" />
        <script src="Scripts/angular.min.js"></script>
        <script src="Scripts/angular-route.min.js"></script>
        <link href="Content/index.css" rel="stylesheet" />
        <script src="appModule.js"></script>


    </head>
    <body ng-controller="appController">
        <div class="container-fluid top-bar">
            <div class="row">
                <div class="col-sm-2"><h1>Vag</h1></div>

                <div class="col-sm-2">
                    <button class="btn btn-primary" ng-click="showFirst()">First</button>
                </div>

                <div class="col-sm-2">
                    <button class="btn btn-primary" ng-click="showSecond()">Second</button>
                </div>

                <div class="col-sm-2">
                    <button class="btn btn-primary" ng-click="showThird()">Third</button>
                </div>
            </div>
        </div>
        <div ng-view class="full-view"></div>
    </body>
</html>
