<!-- Navbar -->
<nav class="navbar-header navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Events</a>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#contact">Contact</a></li>

                </ul>
            </div>
        </div>
    </div>
</nav>
<!-- Body -->
<div class="container-fluid">
    <!-- JumboTron -->
    <div class="jumbotron">
        <h1 class="events-main-title">EVENTS</h1>
        <p>
            This pages allows you to view and edit past and future events! You can sort by importance, date, or root user.
        </p>
    </div>
    <!-- actual body-->
    <br /><br />
    <div class="row">
        <!-- Existing view -->
        <div class="col-md-7">
            <!-- view options -->
            <div class="container-fluid">
                <form class="form-inline">
                    <label class="radio-inline">
                        <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> All
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> Future
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3"> Past
                    </label>
                </form>
            </div>
            <!--view-->
            <div class="container-fluid">
                <div class="panel panel-default">
                    <div class="panel-body">
                        Basic panel example
                    </div>
                </div>
            </div>
        </div>
        <!-- New event form -->
        <div class="col-md-5">

        </div>
    </div>
</div>